@{
    ViewBag.Title = "MyProductView";

    int number = 1;
}

@using (Html.BeginForm())
{
    @Html.TextBox("searchString")
    <input type="submit" value="Find car" />
}

<h2>Products</h2>

@foreach (var car in Model)
{
    <p><b>@number</b>. @car.Model</p>
    @Html.ActionLink("Details", "ProductDetails", new { id = car.ID })
    <hr />

    number++;
}

